@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background-color: rgb(236, 227, 227);
    font-family: 'Roboto', sans-serif;
}

.carousel-inner img {
    width: auto;
    height: auto;
  }
  
  .tarjeta {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina{
  width: 100%;
  background-color: rgba(253, 253, 253, 0.596);
  position:fixed;
  bottom: 0; 
}